.empress {
  background-image: url("../img/empress.png");
  background-size: cover;
}

.fool {
  background-image: url("../img/fool.png");
  background-size: cover;
}

.magician {
  background-image: url("../img/magician.png");
  background-size: cover;
}

.highpriestess {
  background-image: url("../img/highpriestess.png");
  background-size: cover;
}

.emperor {
  background-image: url("../img/emperor.png");
  background-size: cover;
}

.hierophant {
  background-image: url("../img/hierophant.png");
  background-size: cover;
}

.lovers {
  background-image: url("../img/lovers.png");
  background-size: cover;
}

.strength {
  background-image: url("../img/strength.png");
  background-size: cover;
}

.hermit {
  background-image: url("../img/hermit.png");
  background-size: cover;
}

.chariot {
  background-image: url("../img/chariot.png");
  background-size: cover;
}

.justice {
  background-image: url("../img/justice.png");
  background-size: cover;
}
.wheeloffortune {
  background-image: url("../img/chariot.png");
  background-size: cover;
}

.death {
  background-image: url("../img/death.png");
  background-size: cover;
}

.hangedman {
  background-image: url("../img/hangedman.png");
  background-size: cover;
}

.tower {
  background-image: url("../img/tower.png");
  background-size: cover;
}

.devil {
  background-image: url("../img/devil.png");
  background-size: cover;
}

.temperance {
  background-image: url("../img/temperance.png");
  background-size: cover;
}

.star {
  background-image: url("../img/star.png");
  background-size: cover;
}

.sun {
  background-image: url("../img/sun.png");
  background-size: cover;
}

.moon {
  background-image: url("../img/moon.png");
  background-size: cover;
}

.judgement {
  background-image: url("../img/judgement.png");
  background-size: cover;
}

.world {
  background-image: url("../img/world.png");
  background-size: cover;
}
